*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.container{
    gap: 600px;
}
.nav_con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    max-width:90vw ;
    gap: 300px;
}
.list{
    margin-top: 23px;
    gap: 25px;
    list-style: none;
    max-width: 50vw;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    font-weight:600;
    text-decoration: none;
}
.nav_link{
    transition: color 0.1s;
}
.nav_link:hover{
    color: rgba(31, 31, 218, 0.725);
}
.list a{
    color: black;
    text-decoration: none;
}
.left_nav{
    display: flex;
    flex-direction: row;
    margin-top: 21px;
    gap: 10px;
}
.image{
    width: 30px;
    /* border: 1px solid white; */
    /* border-radius: 50%; */
}
.right_nav{
    display: none;
    margin-top: 20px;
    background-color: rgba(66, 66, 230, 0.932);
    padding: 3px 12px;
    padding-top: 12px;
    border-radius: 5px;
    transform: all  0.1s;
    font-weight: 500;
}
@media screen and (min-width:768px) {
    .right_nav{
        display: flex;
    }
}
.right_nav a{
    color: white;
}
@media screen (min-width:700px){
    
}
right_nav:hover{
    background-color:#cccdd8 ;
}
.hero_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
}
.left_sec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
    animation: slideFromLeft 1s ease forwards; 
    /* opacity: 0; */
}
/* @keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1%;
        transform: translateX(0);
    }
} */
.right_sec{
    width: 40%;
    border: none;
    border-radius: 5px;
}
.first_line{
    font-size: 15px;
    color: rgb(76, 76, 199);
    font-weight: 600;
}
.heading{
    font-weight: bold;
    font-size: 2.5rem;
    max-width: 380px;
}
.button{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.first_button{
    margin: 10px;
    background-color: rgb(76, 76, 199);
    padding: 5px 10px;
    display:inline-block;
    border-radius: 5px;
    color: white;
}
.second_button{
    margin: 10px;
    background-color: rgb(78, 75, 75);
    padding: 5px 10px;
    display:inline-block;
    color: white;
    border-radius: 5px;

}
.discription{
    max-width: 380px;
}
.texture_img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: none;
    border-radius: 15px;
}
@media screen and (mix-width:700px) {
    .hero_section{
        flex-direction: column;
    }
}
.third_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    max-width: 1000px;
    gap: 40px;
}

.textarea{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.card_img{
    align-items: centers;
    width: 50px;
}
.card_section{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.logo_sec{
    /* width: 100px;
    border-radius: 50%;
    background-color: white; */
}
.one_card{
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color:rgba(27, 27, 243, 0.858);
    color: white;
}
.two_card{
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(175, 58, 82, 0.808);
    color: white;
}
.three_card{
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color:darkorange;
    color: white;
}
.four_card{
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color:rgba(0, 139, 139, 0.921);
    color: white;
}
.five_card{
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color:rgba(21, 150, 21, 0.873);
    color: white;
}
.six_card{
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color:rgb(93, 11, 169);
    color: white;
}
.head_sec{
    margin: 50px;
    text-align: center;
}
.review_section{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 30px;
    justify-content: center;
    margin: 20px auto;
}
.one_review{
    max-width: 400px;
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.437);
    border-radius: 8px;
    padding: 15px;
}
.two_review{
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.437);
    border-radius: 8px;
    padding: 15px;
}
.three_review{
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.437);
    border-radius: 8px;
    padding: 15px;
}
#name{
    color: blue;
    font-weight: 700;
}
.avatar_img{
    margin: 8px 30px;
    width: 100px;
}

.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testimonial-title{
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
    font-weight: bold;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(171, 163, 163);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform: scale(1.05);;
    box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    border: 1px solid blue;
}
.testimonial-avatar img{
    height: 5rem;
    width: 5rem;
}
.testimonial-text{
    color: #555;
    font-size: 0.875rem;
}
.testimonial-name{
    color: var(--primary-color);
    font-size: 1rem;
}
.testimonial-desc{
    font-size: 0.875rem;
    color: #777;
}

.news_con{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}
.news_sec{
    max-width: 1000px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    background-color: rgba(128, 128, 128, 0.255);
}
.news_img{
    width: 500px;
}
.right_news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 40px;
    gap: 5px;
}
.news_heading{
    color: blue;
    font-weight: bolder;
    font-size: 1.8rem;
}
.button_news{
    color: white;
    background-color: blue;
    padding: 4px 6px;
    font-size: 0.8rem;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}.last_news{
    font-size: 0.69rem;
    margin-top: 5px;
}
.email_news{
    border:1px solid rgba(0, 0, 0, 0.321);
    border-radius:4px ;
    padding: 4px;
}
.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 2rem;
    height: 6rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}
.footer-copyright{
    color: var(--gray);
    font-size: 0.85rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

